*.c.o
/.vs/project_edition2/v16/.suo
/.deps/button.c.P
/.deps/enemylogic.c.P
/.deps/game.c.P
/.deps/graphics.c.P
/.deps/helperfunctions.c.P
/.deps/helpers.c.P
/.deps/icon.c.P
/.deps/input.c.P
/.deps/interface.c.P
/.deps/led.c.P
/.deps/main.c.P
/.deps/memory.c.P
/.idea/misc.xml
/.idea/modules.xml
/.deps/object.c.P
/.idea/*
/.vs/slnx.sqlite
/.deps/stubs.c.P
/.deps/timers.c.P
/.idea/vcs.xml
/.deps/vector.c.P
/.deps/vectors.S.P
/.vs/VSWorkspaceState.json
